# Ignorar variables de entorno (secretos)
.env

# Ignora entorno virtual de python
.venv/
venv/
ENV/

# Ignorar la base de datos local SQLite
*.db
*.sqlite3

# Ignora archivos temporales de Python 
__pycache__/
*.pyc